<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>pdf</servlet-name>
    <servlet-class>PdfServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>pdf</servlet-name>
    <url-pattern>/pdf</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>html</servlet-name>
    <servlet-class>HtmlServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>html</servlet-name>
    <url-pattern>/html</url-pattern>
  </servlet-mapping>
</web-app>
